
  body{
    background-image: url('https://www.wallpapertip.com/wmimgs/81-814842_full-page-background-image-for-website.jpg');
    font-family: Arial, sans-serif;
    font-size: 15px;
text-align: center;
padding: 10px;

  }

  .imagfesh{
  margin: 10px;
  }
  .btn{
    background-color:aliceblue;
    border:snow;
    border-color: snow;
    font-size: 50x;
    padding: 20px;

  }

  table, th, td {
    border: 10px solid rgb(37, 55, 158);
    border-collapse: collapse;
    padding: auto;
    font-size: 20px;
    color:rgb(red, rgb(27, 1, 1), blue);
  }
  th {
    background-color: #333;
    color:#f2f2f2;
  }
  td {
    background-color:#04AA6D;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .wrapper img {
    width: 300px;
    height: 375px;
    border-radius : 50%;
  }
.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.wrapper2 img {
  margin-top: 30px;
width: 480px;
height: 400px;
margin-right: 15px;
margin-top: 15px;
border-radius: 50%;
}
.btn {
  background-color:#333;
  font-size: 16px;
  margin-bottom: 30px;
  color: #f2f2f2;
}

.copyright {
  background-color: #333;
  font-size: 20px;
  padding: 20px;
  height: 48px;
  padding-top: 1px;
}
body {
  font-family: Arial;
}

input[type=text], select, input[type=number],select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 23px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;

}


input[type=submit] {
  width: 50%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 23px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
label {
  font-size: 18px;
}

.paddress {
  font-weight: bold;

}
